@import "../../core";
.pag-home {
    color: map-get($colors-branding, "primary");
    h1 {
        font-size: 4.2rem;
        font-weight: bold;
    }
    & header {
        & ul {
            & .fa-facebook-square {
                color: map-get($colors-i, "facebook");
            }
            & .fa-instagram {
                color: map-get($colors-i, "instagram");
            }
        }
    }
    & .container-images {
        /*background: yellow;*/
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 4fr repeat(3, 1fr);
        gap: 3rem;
        grid-auto-rows: 10rem;
        & .img-lenguaje {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        & .img-lenguaje:nth-child(11) {
            grid-area: 2/2 /span 1/span 2;
        }
        & .img-lenguaje:nth-child(13) {
            grid-area: 2/5 /span 1/span 2;
            /*grid-column: span 4 / 6;*/
        }
    }
}