.d-flex {
    display: flex;
}

.d-flex-column {
    flex-direction: column;
}

.jc-space-between {
    justify-content: space-between
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}

.fw-wrap {
    flex-wrap: wrap;
}