@import "../../core";
.pag-dashboard {
    color: map-get($colors-neutrals, "grey");
    & header {
        & ul {
            & a {
                color: map-get($colors-neutrals, "grey");
                transition: border-bottom 1.5s ease;
                &:hover {
                    border-bottom: 1px solid map-get($colors-neutrals, "grey");
                }
            }
        }
    }
    & footer {
        /*background: red;*/
        position: absolute;
        width: 100%;
        bottom: 0rem;
        color: map-get($colors-branding, "primary");
    }
}


/*.grid-general {
    display: grid;
    grid-template-columns: 1fr 3fr;
}*/

.grid {
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-column-gap: 20px;
    // grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}