/*@font-face {
    font-family: 'Exo';
    src: url('../fonts/exo/Exo-Bold.woff2') format('woff2'), url('../fonts/exo/Exo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Exo';
    src: url('../fonts/exo/Exo-Regular.woff2') format('woff2'), url('../fonts/exo/Exo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'Exo', sans-serif;
    src: url('../fonts/exo/Exo-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo', sans-serif;
    src: url('../fonts/exo/Exo-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}